/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--back-main-color);
  background-image: var(--back-main-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  min-block-size: 668px;
  display: grid;
  grid-template-rows: minmax(228px, auto) min-content minmax(228px, auto);
  padding: 10px;
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
}

.header__decoration {
  position: absolute;
  right: 19px;
  top: 10px;
  width: 56px;
  height: 26px;
  text-align: left;
  display: block;
  line-height: 25px;
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  color: var(--accent-color);
  font-size: var(--main-size);
  text-transform: uppercase;
}

.header__decoration::after {
  content: "";
  position: absolute;
  height: 9px;
  width: 9px;
  background-color: var(--accent-color);
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  top: 8px;
  right: 0;
}

.header__theme-menu {
  display: grid;
  justify-content: end;
  align-content: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  cursor: pointer;
  block-size: 26px;
  inline-size: 70px;
  border: none;
  background-color: transparent;
  outline: none;
  font-family: var(--main-font);
  color: var(--accent-color);
  font-weight: var(--main-weight);
  font-size: var(--main-size);
  text-transform: lowercase;
  line-height: 26px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

ul .header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}

ul .header__theme-menu-button_active:hover {
  outline: 1px solid var(--accent-color);
}

.header__title {
  font-family: var(--main-font);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: var(--title-weight);
  font-size: var(--title-size);
  line-height: var(--title-line-height);
}

.header__text {
  font-family: var(--main-font);
  color: var(--main-color-title);
  font-weight: var(--title-weight);
  font-size: var(--main-size);
  line-height: var(--main-line-height);
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
}

.main {
  margin-block: 40px;
  padding: 0 10px;
  /* min-block-size: 5355px; */
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.main__section:nth-of-type(4) {
  gap: 10px;
}

.section__title {
  font-family: var(--main-font);
  font-weight: var(--title-weight);
  font-size: var(--main-size);
  line-height: var(--main-line-height);
  color: var(--main-color-title);
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textblock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textblock-title {
  font-family: var(--main-font);
  font-weight: var(--title-weight);
  font-size: var(--main-size);
  line-height: var(--main-line-height);
  color: var(--main-color-title);
}

.textblock-subtitle {
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  font-size: var(--main-size);
  line-height: var(--main-line-height);
  color: var(--main-color-title);
}

.textblock-text {
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  font-size: var(--main-size);
  line-height: var(--main-line-height);
  color: var(--main-color);
}

.textblock-text a {
  text-shadow: 1px 1px 0 var(--accent-color);
}

.textblock-text a:hover {
  border-bottom: 2px solid var(--main-color);
}

.textblock-text a:focus {
  outline: 1px solid var(--main-color);
}

.section__img {
  height: 100%;
  width: 100%;
}

.footer {
  min-block-size: 668px;
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
  font-family: var(--main-font);
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-weight: var(--title-weight);
  font-size: var(--title-size);
  line-height: var(--title-line-height);
}

@media (width >= 768px) {
  .header__text {
    max-inline-size: 50%;
    justify-self: end;
  }

  .main__section {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__content {
    grid-column: 2 / 4
  }

  .main__section:nth-of-type(2) .section__content {
    grid-column: 1 / 4;
  }

  .main__section:nth-of-type(4) {
    gap: 20px;
    grid-template-rows: repeat(4, auto);
  }

  .main__section:nth-of-type(4) .textblock-title {
    grid-row: 1;
    grid-column: span 3;
  }

  .section__img:nth-of-type(1) {
    grid-row: 2;
    grid-column: span 2;
  }

  .section__img:nth-of-type(2) {
    object-fit: cover;
    grid-row: 2 / 4;
    grid-column: 3;
  }

  .section__img:nth-of-type(3) {
    object-fit: cover;
    grid-row: 3 / 5;
    grid-column: 1;
  }

  .section__img:nth-of-type(4) {
    grid-row: 3 ;
    grid-column: 2;
  }

  .section__img:nth-of-type(5) {
    grid-row: 4;
    grid-column: 2 / 4;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
      display: flex;
      justify-content: center;
    }

    .header__theme-menu-list {
      flex-direction: row;
      gap: 20px;
    }

    .main__section:nth-of-type(2) .section__content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    
    .main__section:nth-of-type(2) .textblock:nth-of-type(1) {
      grid-column: 1;
    }
    
    .main__section:nth-of-type(2) .textblock:nth-of-type(2) {
      grid-column: 2;
    }
    
    .main__section:nth-of-type(2) .textblock:nth-of-type(3) {
      grid-column: 3;
    }    
}