/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--back-main-color);
  background-image: var(--back-main-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  min-block-size: 668px;
  display: grid;
  grid-template-rows: minmax(228px, auto) min-content minmax(228px, auto);
  padding: 10px;
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
}

.header__decoration {
  position: absolute;
  right: 19px;
  top: 10px;
  width: 56px;
  height: 26px;
  text-align: left;
  display: block;
  line-height: 25px;
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  color: var(--accent-color);
  font-size: var(--main-size);
  text-transform: uppercase;
}

.header__decoration::after {
  content: "";
  position: absolute;
  height: 9px;
  width: 9px;
  background-color: var(--accent-color);
  border-radius: 100%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  top: 8px;
  right: 0;
}

.header__theme-menu {
  display: grid;
  justify-content: end;
  align-content: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  block-size: 26px;
  inline-size: 70px;
  border: none;
  background-color: transparent;
  outline: none;
  font-family: var(--main-font);
  color: var(--accent-color);
  font-weight: var(--main-weight);
  font-size: var(--main-size);
  text-transform: lowercase;
  line-height: 26px;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

ul .header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

ul .header__theme-menu-button_active:hover {
  outline: 1px solid var(--accent-color);
}

.header__title {
  font-family: var(--main-font);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: var(--title-weight);
  font-size: var(--title-size);
  line-height: var(--title-line-height);
}

.header__text {
  font-family: var(--main-font);
  color: var(--back-main-color);
  font-weight: var(--title-weight);
  font-size: var(--main-size);
  line-height: var(--main-line-height);
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color);
}

.main {
  margin-block: 40px;
  padding: 0 10px;
  min-block-size: 5355px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.section__title {
  font-family: var(--main-font);
  font-weight: var(--title-weight);
  font-size: var(--main-size);
  line-height: var(--main-line-height);
  color: var(--accent-color);
}

.textblock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textblock-title {
  font-family: var(--main-font);
  font-weight: var(--title-weight);
  font-size: var(--main-size);
  line-height: var(--main-line-height);
  color: var(--back-main-color);
}

.textblock-subtitle {
    font-family: var(--main-font);
    font-weight: var(--main-weight);
    font-size: var(--main-size);
    line-height: var(--main-line-height);
    color: var(--back-main-color);
}

.textblock-text {
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  font-size: var(--main-size);
  line-height: var(--main-line-height);
  color: var(--main-color);
}

.section__img {
  height: 100%;
  width: 100%;
}

.footer {
  min-block-size: 668px;
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
  font-family: var(--main-font);
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-weight: var(--title-weight);
  font-size: var(--title-size);
  line-height: var(--title-line-height);
}